
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>از تاریخ</mat-label>
      <input matInput required formControlName="txtStartDate">
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label>تا تاریخ</mat-label>
      <input matInput required  formControlName="txtEndDate">
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-label>مهلت</mat-label>
      <input matInput required  formControlName ="txtDeadlineDay">
    </mat-form-field>
    <mat-form-field appearance="fill" >
      <mat-select formControlName ="ddlSaleType" placeholder="نوع فروش"  [(ngModel)]="selectedValue"  (change)="getSelectedValue($event.value)">
        <mat-option *ngFor="let client of clients; let i = index;" [value]="i" >
          {{client.clientName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary">ثبت</button>
  </form>

<!--https://stackblitz.com/edit/angular-mat-select-data?file=app%2Fselect-form-example.html-->
