<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span (click)="onMaster()">سیستم ....</span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
        <button mat-button>درباره ما</button>
        <button (click)="onLogin()" mat-button>ورود به سیستم</button>
        <button (click)="onSaleDeadline()" mat-button>مهلت تسویه</button>
        <button (click)="onCommission()" mat-button>درخواست کمیسیون</button>
    </mat-toolbar-row>
    <mat-card>
        <mat-card-content>
            <router-outlet></router-outlet>
        </mat-card-content>
    </mat-card>
</mat-toolbar>
